<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div style="flex-grow:3">
      <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']">
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/members']">Matches</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/lists']">Lists</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" [routerLink]="['/messages']">Messages</a>
        </li>
      </ul>
    </div>
    <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    -->
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
      <div class="form-group" style="float:left">
        <input type="text" #username="ngModel" placeholder="Username" class="form-control" required name="username"
          [(ngModel)]="model.username">
      </div>
      <div class="form-group" style="float:left;margin-left: 10px;margin-right:10px">
        <input type="password" #password="ngModel" placeholder="Password" class="form-control" required name="password"
          [(ngModel)]="model.password">
      </div>
      <button type="submit" class="btn btn-success" style="clear:both">Sign in</button>
    </form>
    <!--
          <ul *ngIf="loggedIn()">
          <li><a (click)= "logout()">Logout</a></li>
          <li class="dropdown" dropdown >
            <a class="nav-link dropdown-toggle" dropdowntoggle>Welcome {{authService.decodedToken?.unique_name| titlecase}}</a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li><a href="#"><i class="fa fa-user"></i>Edit Profile</a></li>
              <li><a (click)= "logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      -->
    <div class="btn-group" dropdown *ngIf="loggedIn()">
      <button dropdownToggle type="button" class="btn btn-success dropdown-toggle" (click)="false">
        Welcome
        <span class="caret"></span>
      </button>
      <ul dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/member/edit']" routerLinkActive="router-link-active">
            <i class="fa fa-user"></i> Edit Profile</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>



  </div>
</nav>
